PORT=3000

# NUNCA coloque o token no front-end.
NUVEMSHOP_STORE_ID=7733483
NUVEMSHOP_ACCESS_TOKEN=914489cd93f866a610b600425e78cdcfc0e206091f50cba0a40ede69e50c7750
# Senhas separadas por cidade.
DRIVER_PIN_PONTA_GROSSA=8803
DRIVER_PIN_GUARAPUAVA=1234

STORE_NAME=Bobinou Maker Store
NUVEMSHOP_MARK_FULFILLED=false
APP_USER_AGENT=Bobinou Entregas (contato@seudominio.com)
