PORT=3000

# NUNCA coloque o token no front-end.
NUVEMSHOP_STORE_ID=7733483
NUVEMSHOP_ACCESS_TOKEN=306b52e757e0a0d9c74b42be38e838a1a987f5dc
# Senhas separadas por cidade.
DRIVER_PIN_PONTA_GROSSA=8803
DRIVER_PIN_GUARAPUAVA=1234

STORE_NAME=Bobinou Maker Store
NUVEMSHOP_MARK_FULFILLED=false
APP_USER_AGENT=Bobinou Entregas (contato@bobinoumakerstore.com.br)
